
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
<div class="body-content">
    <h1 style="color: red"> ACCESS DENIED</h1>
    <p>
        You or someone using the same host have violated our terms of service and have been <strong>banned</strong> from using our systems.
        If you believe you have received this message in error, please email <a href="mailto:attanaya@outlook.com"> our systems administrator</a>.
    </p>
</div>
</body>
</html>