
@{
    ViewBag.Title = "Broken";
}

<h2>Uh Oh...</h2>

<div> <img src="~/Images/crime_scene.jpg" /> </div>

<p class="special-elite-font">
    We have detected that something is not quite right, and we're investigating. We will get to the bottom of this! Please check back later. 
</p>
<p class="forum-font">
    - Attanaya Warrior Institute <br />
    I.T. Department
</p>