
@{
    ViewBag.Title = "byog";
}

    <div class="pt-5 mt-5 forum-font">
        <div class="mt-3">
            <h1 class="special-elite-font">B.Y.O.G. (Bring Your Own Gun)</h1>
        </div>
            <div class="forum-font mt1">
                <h2 class="special-elite-font"> What is Dry Fire?</h2>
                <p>
                    Dry firing is the act of functioning your empty firearm as if it were loaded. For competitors it means aiming at a target and functioning the firearm as in competition. For the defensive shooter, it means practicing drawing, getting the empty gun up and ready for firing or actually firing at an aggressor. In other words, you do what you are expected to do in competition or in combat—but do it with an empty firearm.
                    Dry firing is an essential part of an overall firearms training program, and will help you with muscle memory, muscle tone, target reaction speed, and a steady hold. With handguns it will help with drawing from the holster, presentation speed, sight alignment, trigger function, reloading drills, stoppage clearing drills, in some competitions and even holstering. For shot-gunners it will help with a correct mount, smooth gun movement,
                    target alignment/leads, trigger control and timing. Dry fire saves money and your weapon by not expending live ammunition while still gaining the benefits of going to the live fire range. DRY FIRE IS NOT A SUBSTITUTE FOR LIVE FIRE TRAINING!! However, if you are serious about shooting better and getting more competitive in matches or surviving a gun fight, you will benefit greatly from dry firing drills.
                </p>
                <h2 class="special-elite-font">I can do that at my house for free. Why dry fire at AWI?</h2>
                <p>
                    There's only one major problem with dry firing. It's boring, and it's work. Plain and simple. For many, dry firing at home is far less effective because you do not get feedback from your practice, which makes it easy to practice wrong. With AWI firearms simulations, you get more than boring muscle memory training. Our cutting edge software is designed to train your mind and challenge your abilities as a shooter, providing you instant feedback on where your dry fire shots land. From steel targets and virtual IPSC courses to Judgmental Training simulation that react to your voice commands and simulate use of force encounters, AWI is designed to include your mind in dry fire training.
                </p>
                <h2 class="special-elite-font"> Bringing Your Own Gun - How It Works</h2>
                <p>
                    We own a stock of special laser cartridges that work with our simulators. They are safe to load in your weapon and will not damage any portion of the weapon. The cartridges seat firmly in the chamber of your weapon like a bullet would. When you discharge your weapon, the firing pin strikes a sensor that doubles as a landing surface for your firing pin. This sensor activates a special laser beam which comes out of your weapon's barrel and is detected
                    by more special sensors. In most weapons, the cartridges seat snugly in the chamber and should not come out on their own. They must be removed by an administrator at the end of your session. The laser cartridges do not eject! Because of this, it is impossible to chamber a live round with our laser cartridges installed. Attempting to do so will result in a type 3 malfunction.
                </p>
                <h2 class="special-elite-font">No Live Ammo Policy</h2>
                <p>
                    Safety is our highest priority. In order to keep the environment as safe as possible, we <strong>require</strong> ALL of our guests to store all ammunition in their vehicles and have no live ammunition on their person at any time. No backups guns, no loose rounds in the pockets, NO LIVE AMMUNITION, NO EXCEPTIONS!
                </p>

                <h2 class="special-elite-font">Supported Cartridge Sizes:</h2>
                <div>
                    <ul>
                        <li>9mm </li>
                        <li>.380</li>
                        <li>.223</li>
                        <li>.38/.357</li>
                        <li>40S&W</li>
                        <li>.45ACP</li>
                        <li>.357 SIG</li>
                        <li>12 Gauge</li>
                        <li>20 Gauge</li>
                        <li>.44 Magnum</li>
                        <li>30-06 Springfield</li>
                        <li>7.62x51MM / .308</li>
                        <li>6.5 x 55mm</li>
                    </ul>
                </div>

            </div>
        </div>
