
@{
    ViewBag.Title = "faq";
}
    <div class="pt-5 mt-5 forum-font">
        <div class="mt-3">
            <h1 class="special-elite-font"> Frequently Asked Questions:</h1>
        </div>
            <div style="font-size: large">
                <strong>Q:</strong> Is there any danger? <br />
                <strong>A:</strong> No more danger than you would face in any athletic activity. Your own feet create some of the biggest risks in our facility. Live ammunition is expressly forbidden in our facilities, and no projectiles fly in our facility. Our simulators utilize IR lasers to simulate projectiles. <br />
                <br />
                <strong>Q:</strong> What is "Green Gas", and is it dangerous? <br />
                <strong>A:</strong>No. It's not dangerous. Green Gas is essentially LPG (Propane) mixed with a silicon lubricant. LPG is heavier than air and will accumulate in low lying areas, so essentially it falls to the floor. This means you don't breathe it. What you may breathe is perfectly safe, as LPG has an excellent safety record, and as you no doubt know is used to cook food on grills and in gas ovens, as well as used in other household appliances.
                LPG is an asphyxiant gas. This does NOT mean that LPG is a poisonous gas so LPG gas leak effects are an issue in an enclosed area with a high concentration. In other words, symptoms of exposure are directly related to displacement of oxygen from air, not from any toxicity. LPG (Propane) is not toxic to flora, fauna or soil organisms. LPG gas effects will not cause long term adverse effects in the environment and is not dangerous to the ozone layer.
                LPG is not persistent, does not bio-accumulate and unlikely to cause long term adverse effects in the environment. LPG is a low carbon fossil fuel. We looked at the flammability risks. The lower and upper limits of flammability are the percentages of LPG that must be present in an LPG/air mixture. This means that between 2.15% and 9.6% of the total LPG/air mixture must be LPG in order for it to be combustible.The autoignition temperature is the lowest
                temperature at which it will spontaneously ignite in air without an external source of ignition, like a spark or flame. The autoignition temperature of LPG – Propane – is 470 °C or 878°F. While it is, in heavy concentrations, flammable, we continually cycle our air system to prevent that kind of accumulation from being even a remote possibility. The gas expelled by the guns per shot is very small.
                We have also taken the added precaution of banning smoking and vaping in our facility because of the green gas usage.<br />
                <br />
                <strong>Q:</strong> So I can bring my own gun? <br />
                <strong>A:</strong> Yes! AWI has special ammunition that can be loaded into your own firearm for use on our laser simulation ranges. This is essentially dry fire with a snap cap that shoots a special kind of laser. Dry fire has it caveats, primarily that for many weapons, the slide must be functioned in order to cock the weapon. While some of our simulations are accommodating to this fact, other are not.
                We recommend using a weapon that is pump-action, SA/DA, DAO or second-strike capable. This allows for a more enjoyable dry fire experience in all of our simulations.<br />
                <br />
                <strong>Q:</strong> What if I don't have or don't want to use my own gun? <br />
                <strong>A:</strong> AWI rents high quality simulation weapons for use in our simulators. These weapons are exact replicas of their real-steel counterparts and function with green gas blowback action. In some cases, you may also rent high tech training weapons designed to improve your skill and performance as a shooter.<br />
                <br />
                <strong>Q:</strong> I'm new to shooting. Can I shoot at AWI? <br />
                <strong>A:</strong> YES!! AWI is about training warriors, and every warrior's path starts with the first step. AWI is a facility that adapts to the skill
                level of the warrior. <br />
                <br />
                <strong>Q:</strong> I'm not law enforcement or military. Can I train at AWI? <br />
                <strong>A:</strong> Yes! AWI is open to the public, and it's simulators support training for concealed carry and sport shooters.<br />
                <br />
                <strong>Q:</strong> Is AWI hiring? <br />
                <strong>A:</strong> Possibly! Ask us! AWI doesn't hire instructors. We partner with them. We want instructors to get on their own feet and run their own business, but we'll help by providing the range
                and sharing some of the risk. Check out our instructor partnerships link for more information on this great deal! <br />
                <br />
                <strong>Q:</strong> Can I bring the kids? <br />
                <strong>A:</strong> AWI simulators host a wealth of content, and some of the content is great for teaching your kids to shoot! Some content, however, is only intended for adults. We do not allow children under the age of 18 to use the judgmental training software, as it simulates real life combat encounters and may feature graphic or disturbing content. <br />
                <br />
                <strong>Q:</strong> What does the Latin motto mean? <br />
                <strong>A:</strong> "Perfection from discipline". Perfection is not a guarantee, it's a goal. Discipline is a requirement to meet the goal. Self discipline, dedication and hard work net results. AWI is a place to put in your hard work. <br />
                <br />
            </div>
        </div>
