
<link href="~/Content/index.css" rel="stylesheet" />

<div style="margin-top: 100px; margin-bottom: 100px;">
    <div class="video-player-parent">
        <video autoplay muted loop class="video-player">
            <source src="~/Videos/HomePageVideo.mp4" type="video/mp4" />
            Your browser does not appear to support HTML5 video.
        </video>
    </div>

    <div id="index-body-content">
        <div class="mb-1">
            <h1 class="special-elite-font">"Perfectum fecisti a disciplina"</h1>
            <span class="special-elite-font">("Perfection through discipline")</span>
            <div class="video-player-parent-small">
                <video controls="controls" class="video-player-small">
                    <source src="~/Videos/IntroVideo_XAVC.mp4" type="video/mp4" />
                </video>
                <div class="special-elite-font"><strong>Watch this video to learn about AWI!</strong></div>
            </div>
            <div class="forum-font">
                Attanaya (pronounced at•uh•nay•uh) Warrior Institute (AWI) is Arizona's first dedicated firearms simulation skills development laboratory.
                AWI facilitates the development of cognitive abilities, muscle tone, endurance, muscle memory and much more in our cutting edge dedicated simulators.
                Firearms simulators have been used by law enforcement and military for decades, teaching advanced skills that cannot safely be learned with live fire due to range safety limitations. They've evolved tremendously during their time in government service,
                growing from simple light gun games into sophisticated, Infrared laser based, trajectory calculating scientific computer systems. AT AWI, we're making the same simulators available to the everyday citizen, with a bit of a custom twist. Using our technical expertise,
                AWI has combined several of the world's cutting edge simulators to create the ultimate simulation experience. Be sure and check out the introduction video for a thorough explanation of our facility and capabilities! 
            </div>
        </div>

        <div class="mt-4">
            <h3 class="special-elite-font"> @Html.ActionLink("Book Online", "Reservation", "Home") or call us at <phone>(520) 253-5270</phone> </h3>
            <p class="forum-font">AWI is powered by a reservation system, you make a reservation for a specific time slot and arrive just in time for your session! This is a no-wait, no congregate type of place, so there aren't big crowds, minimal contact with others, and full door-closed separation when using our simulator systems. Simply book your reservation or class, check your email for the details and confirmation, and arrive at your scheduled time! We provide all of the equipment you need to enjoy your training or learning experience at AWI! Check out our BYOG program, where you can optionally bring your own firearms as well! </p>
        </div>
    </div>
</div>