
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="pt-5 mt-5 forum-font">
        <div class="mt-3">
            <h1 class="special-elite-font">Instructor Partnership</h1>
        </div>
        <p>
            Instructor Partnerships allow instructors from all walks of life to hold classes at our facilities. By opening our facility to "outside" instructors and
            sharing some of the risk, we deliver opportunities to subject matter experts that might not otherwise have the means to teach what they know.
            We recognize that there is much skill and knowledge in the world, and that we cannot possibly hope to cage up the best instructors under our umbrella alone.
            It wouldn't even be fair. With our partnership plans, instructors maintain the freedom to develop their own programs, reputations and businesses!
        </p>

        <h3 class="special-elite-font">Instructor Partnership Package Details:</h3>
        <p>
            AWI offers a very special deal to instructors who teach their students at AWI. Here's how it works: Once you decide to work with AWI, your company and AWI enter into an "instructor partnership agreement".
            This agreement has no minimum number of classes and no obligations to perform any classes at all. We charge a small percentage of your profits per class, dictated by a sliding scale based on the number of participants per class. We offer a number of perks to help make
            your teaching experience successful, including assistance with advertising your event. During your event, you get full access to simulator rooms, software, tools and more.
            We support the technology during your event and we stay out of your way. It's as simple as that!
        <p />

        <p>
            For more information, including the exact percentages determined by the sliding scale, please email attanaya@outlook.com and put "instructor partnership" in the subject line.
        </p>
    </div>
