
@{
    ViewBag.Title = "rules";
}

    <div class="pt-5 mt-5 forum-font">
        <div class="mt-3">
            <h1 class="special-elite-font">Rules</h1>
        </div>
            <div class="forum-font">
                <div>
                    In order to maintain the integrity of the programs at AWI, and to promote and maintain a safe environment that involves firearms, we must require adherence to the following code of conduct:
                </div>
                <div style="margin-bottom: 30px;">
                    <ul>
                        <li>No live ammunition is allowed on the premises, ever. No exceptions.</li>
                        <li>All firearms must be converted to laser firing devices in the facility. No active weapons allowed. No exceptions.</li>
                        <li>No Smoking. No Vaping. No sparks or open flames. Our green gas powered, recoil enabled guns expel small amounts of gas that, in concentrated amounts, may be flammable.</li>
                        <li>Always treat every firearm or replica as if it were lethal and loaded. This includes any devices that would otherwise be considered a non-firearm.</li>
                        <li>Stay behind the designated firing lines. Failure to do so may result in malfunction of the simulator.</li>
                        <li>Noise Discipline. It's perfectly OK, and even required sometimes, to yell at the people in some of our simulations. When moving between simulation rooms however, please keep noise to a minimum to preserve the experience of other sim users.</li>
                        <li>Light Discipline. The equipment in the sim rooms is sensitive, and exposure to light may result in malfunction of the simulator. Please maintain light discipline by not using flashlights, dimming your phone's screen, and covering the screen when in use.</li>
                        <li>Never look down the barrel of a laser gun. Never point the laser gun at another human. The laser can cause eye damage and may irritate the skin of sensitive people. Only point the laser at the simulation screen.</li>
                        <li>Observe the instructor's directions at all times. No Exceptions. Failure to observe instructors, or any of these rules, is grounds for removal from the facility without refund. Violation of certain rules may have legal ramifications.</li>
                        <li>Food Policy: You may bring food into the simulator rooms, but you will be subject to the facility damage policy if you leave a mess.</li>
                        <li>Drug Policy: We do not allow the use or possession, or being under the influence of any federally illegal narcotics. Possession of any federally illegal narcotics on our premises may result in arrest.</li>
                    </ul>
                </div>

                <div>
                    <div class="special-elite-font">Facility Damage Policy:</div>
                    <div>
                        The simulator equipment is durable, but serious mistreatment and abuse of the equipment may result in damage you will be held financially liable for. In the event of damage to the facility, the following damage fees may apply:

                        <ul>
                            <li>Damage to RECOIL ENABLED TRAINING PISTOL KWA ATP-LE: $499.00 ea.</li>
                            <li>Damage to ATP (Advanced Training Pistols): $699.99</li>
                            <li>Damage to a chair or table: $150.00 ea.</li>
                            <li>Damage to the special materials in the room (wall or ceiling tiles): $100.00 per tile.</li>
                            <li>Damage to the special materials in the projector screen or projector wall. $325.00 per sq. ft.</li>
                            <li>Damage to a projector: $900.00</li>
                            <li>Damage to a camera: $1,500.00</li>
                            <li>Damage to a JTS simulator control keyboard: $200.00</li>
                            <li>Damage to a JTS control device (laptop): $1,500.00 </li>
                            <li>Damage to Simulator C Laptop: $2,000.00</li>
                            <li>Cleaning fee for spills, trash or pungent and lingering smells left in the facility: $100.00</li>
                            <li>Cleaning fee for biological waste (vomit, blood, feces, urine, spit, etc.): $450.00</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="special-elite-font">IR Snap Cap Rental Policy: </div>
                    <div>
                        Upon renting an I.R. Snap Cap (B.Y.O.G. Device) the AWI staff member will put the device in your weapon. Your weapon is not to leave the facility with the IR device in it! If you accidentally leave with an IR device, we will attempt to contact you.
                        If we cannot contact you, or if you do not return the device within 24 hours after the end of the original reservation, the result will be a sale and we will charge the last credit card on file the full retail price of the laser device plus a convenience fee of $75.00. The actual cost of the device may vary with the current cost of the devices as determined by the manufacturer (Current Price 1/2020: 9mm - $119.95, All others $189.95, except for a revolver, which takes 6 cartridges at a total of $700.00). <strong> Please return your IR devices after use.</strong>
                    </div>
                </div>
            </div>
        </div>
