@using Attanaya_Warrior_Institute.Models

@{
    ViewBag.Title = "Secret Agent Experience";
}

<link href="~/Content/care.css" rel="stylesheet" />

<div style="margin-top: 100px;">
    <h2 class="special-elite-font">Secret Agent Training Experience</h2>

    <div class="figure-img float-left">
        <img src="~/Images/SAE.png" style="margin: 50px; height: 500px; width: 500px;"/>
    </div>

    <div class="body-content forum-font">
        <div class="mb-2">
            Have you ever wanted to possess the skills of a hollywood secret agent? Our "Secret Agent Training Experience" is a scientifically engineered intensive training program designed to be challenging, educational and extremely fun! In this 4 hour experience, you'll be taken from average everyday civilian to trained intelligence asset by receiving training in four major topics:
        </div>
        <div class="list-group">
            <ul>
                <li>Topic One: Hand to Hand Combat</li> <!-- 20 mins -->
                <ul>
                    <li>Basic Defense</li> <!-- 5 mins -->
                    <li>Basic Strikes</li> <!-- 5 mins -->
                    <li>Non-Lethal Devices (Taser, OC)</li> <!-- 5 mins -->
                    <li>Disarming</li> <!-- 5 mins -->
                </ul>
                <li>Topic Two: Projectile Weapons - Multiple platforms</li> <!-- 30 mins-->
                <ul>
                    <li>Revolvers</li><!-- 5 mins -->
                    <li>Semi Automatic Pistols</li> <!-- 5 mins -->
                    <li>M4 Platform</li> <!-- 5 mins -->
                    <li>AK Platform</li> <!-- 5 mins -->
                    <li>Bolt Action Platform</li> <!-- 5 mins -->
                    <li>Sniper Platform</li> <!-- 5 mins -->
                </ul>
                <li>Topic Three: First Aid / Medical</li> <!-- 35 mins -->
                <ul>
                    <li>Bleeding</li><!-- 5 mins -->
                    <li>Cleaning and Bandaging Wounds</li><!-- 5 mins -->
                    <li>Hyperthermia</li><!-- 5 mins -->
                    <li>Hypothermia</li><!-- 5 mins -->
                    <li>Applying and using tourniquets</li><!-- 5 mins -->
                    <li>Setting an IV</li><!-- 5 mins -->
                    <li>Drawing Blood</li><!-- 5 mins -->
                </ul>
                <li>Topic Four: Information Technology</li> <!-- 40 mins-->
                <ul>
                    <li>Hacking - Basic types of hacks.</li> <!-- 10 mins -->
                    <li>Cookies, tracking, and online privacy</li> <!-- 10 mins -->
                    <li>Virus Protection</li> <!-- 10 mins -->
                    <li>Google-fu</li> <!-- 10 mins -->
                </ul>
            </ul>
        </div>  

        <div>
            This fast paced, highly educational training experience is loads of fun, and the real skills taught are the closest thing the average person can get to a half day crash course at espionage school. This experience is perfect for birthdays, team building events, dates, or just a special day of hands on learning! THIS PACKAGE IS NOT YET AVAILABLE! COMING SOON!
        </div>
    </div>



    @*<div style="padding-top: 20px;">
        @if (User.Identity.IsAuthenticated)
        {
            var accountID = Utility.ForceUserIDRetrievalFromName(User.Identity.Name);
            @Html.ActionLink("Book Now!", "BookClass", "Home", new { EduClassID = Guid.Parse("3a250fc7-bd58-4893-bddb-1397cd365fee"), accountID }, new { @class = "float-right btn btn-success" });
        }
        else
        {
            <div class="special-elite-font mb-2"> Login Required to book internal class. Please login or register and then return to book the class.  New to AWI? <a href="/Account/Register"> Enroll Now, it's free!</a></div>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()) }, htmlAttributes: new { id = "loginLink", @class = "float-right btn btn-success btn-login" });
        }
    </div>*@

    <div style="height: 400px;">

    </div>
</div>