.class-block-header {
    font-weight: 800;
    font-size: larger;
    margin-bottom: 20px; 
    padding-left: 5px;
}

.class-block-body {
    padding: 10px;
}

.class-subtitle {
    font-weight: 600;
    font-size: large;
    margin-top: 5px;
}