#disableScreen {
    -ms-opacity: 0.5;
    background-color: black;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.special-elite-font {
    font-family: 'Special Elite', cursive;
}

.forum-font {
    font-family: 'Forum', cursive;
}

.pointer-cursor {
    cursor: pointer;
}

.boxshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
