@{
    ViewBag.Title = "Email Confirmed - Welcome to AWI";
}

<h2 class="special-elite-font">@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
