@{
    ViewBag.Title = "Nope, Nope and Nope.";
}

<hgroup>
    <h2 class="special-elite-font">@ViewBag.Title.</h2>
    <h3 class="text-danger">Login failure. Unsuccessful login with service.</h3>
</hgroup>
