@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title mt-5 pt-5">
    <h1 class="special-elite-font">@ViewBag.Title.</h1>
</hgroup>
<div style="min-height: 60vh;">
    <p>
        OK, Sent! Please check your email to reset your password. The email may take a few minutes to arrive. If the email has not arrived after 10 minutes, check junk mail.
    </p>
</div>
	
